*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #008B8B;
    /* #72afd3 100%; */
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #fff;
}

/* BOTONES DEL MENU */
.nav-bar{
    background-color: #C0C0C0;
    color: #000000;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    border: #008B8B solid;
    font-size: larger;
}

.nav-bar:hover{
    background-color: #191970;
    color: #ffffff;
}

/* SEPARA LOS BOTONES DEL MENU */
nav{
    padding: 5px;
    display: flex;
    justify-content: space-around;

} 
/* DIV PRINCIPAL */
.cont-main{
    background: white;
    display: flex;
    flex-direction: row;
    width: 100%;

} 


/* DIV INTERNO (IMAGEN Y LOGIN) */
.cont-secu-1{
    width: 50%;
    text-align: center;
    /* background: orange; */
}

.imagen{
    padding: 50px;
    border-radius: 15%;  
}


.cont-secu-2{
    width: 50%;
    text-align: center;
    /* background: lightgreen; */
}

.form{
    display: inline-block;
    align-content: flex-end;
    width: 320px;
    margin-top: 8%;
    padding:50px 30px;
    background: #C0C0C0;
    border-radius: 8%;
    font-size: 20px;
  
}

.boton{
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 10%;
}


/* FOOTER */ 
.footer{
    width: 100%;
    text-align: center;
}

.text-footer{
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.imagen-footer{
    padding: 10px;
    border-radius: 30%;
}












